{% extends "Quiz.html" %}
{% block body %}

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#process_input').bind('click', function() {
            $.getJSON('/background_process', {
              proglang: $('input[name="answer"]').val(),
            }, function(data) {
              $("#result").text(data.result);
            });
            return false;
          });
        });
    </script>
</head>

<body>
    <div>
        <h2>Write the appropriate article</h2>
        <form>
        <input type=text size=5 name=answer>
        <a href="#" id="process_input">
            <button class="btn btn-default">Check
            </button>
        </a></form>
        <p id=result></p>

    </div>
</body>

</html>