<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create word entry</title>
        <link href="{{url_for('static', filename='bootstrap.min.css' ) }}" rel="stylesheet">
    <link href="{{url_for('static', filename='list.css' ) }}" rel="stylesheet">

</head>
<body>

<form action="/addprofile" method="get">
    Dutch: <input type="text" name="myname">
    <br/>
    English: <input type="text" name="english">
    <br/>
    <input type="submit" value="Submit button"/>

</form>

</body>
</html>